<header class="header">
  <div class="header__body">
    <button mat-icon-button (click)="toggleSidebar()" class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <nav class="header__actions action">
      @if(authService.isAuthentication()){
      <div class="action__search">
        <button type="submit"><i class="bx bx-search-alt-2"></i></button>
        <input type="text" class="search-input" placeholder="Пошук фільмів" />
      </div>
      }
      <ul class="action__list">
        <li class="action__item">
          @if(!authService.isAuthentication()){
          <button
            type="button"
            class="action__auth"
            mat-raised-button
            (click)="openAuthorizationForm()"
          >
            Гість
          </button>
          }@else{
          <button type="button" class="user__logo">
            <small>{{ userName | firstLetterUserName }}</small>
          </button>
          }
        </li>
      </ul>
    </nav>
  </div>
</header>
