<header class="header">
  <div class="header__container">
    <a class="header__logo">Cinema</a>
    <nav class="header__actions action">
      <div class="action__search">
        <button type="button"><i class="bx bx-search-alt-2"></i></button>
        <input type="text" class="search-input" placeholder="Пошук фільмів" />
      </div>
      <ul class="action__list">
        <li>
          <a class="action__favourite">
            <i class="bx bxs-heart"></i>
            <span class="count">{{ movieList!.favouriteList!.length }}</span>
          </a>
          <app-movie-select-list
            class="action__sub-list sub-list"
            [data]="movieList!.favouriteList!"
          />
        </li>
        <li>
          <a class="action__watch-list">
            <i class="bx bx-bookmark"></i>
            <span class="count">{{ movieList!.watchList!.length }}</span>
          </a>
          <app-movie-select-list
            class="action__sub-list sub-list"
            [data]="movieList!.watchList!"
          />
        </li>
      </ul>
    </nav>
  </div>
</header>
