.header {
  background-color: rgba(2, 2, 2, 0.5);
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  font-family: "Roboto", sans-serif;

  // .header__body
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3.75rem;
    gap: 30px;
    padding: 0.3125rem 1.5625rem;
  }

  // .header__actions
  &__actions {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    gap: 30px;
    justify-content: end;
  }
}
.action {
  &__search {
    max-width: 300px;
    flex: 1 1 auto;
    display: flex;
    background-color: transparent;
    overflow: hidden;
    align-items: center;
    position: relative;
    input {
      flex: 1 1 100%;
      width: 100%;
      border: none;
      min-height: 42px;
      background-color: inherit;
      border-bottom: 1px solid #aaa;
      color: #fff;
      overflow: hidden;
      outline: none;
      transition: width 0.3s ease 0s;
      &::placeholder {
        color: #fff;
        transition: opacity 0.3s ease 0s;
      }
      &:focus::placeholder {
        opacity: 0;
        transition: opacity 0.3s ease 0s;
      }
    }
    button {
      background-color: inherit;
      border: none;
      min-height: 42px;
      border-radius: 15px;
      position: absolute;
      right: 0;
      i {
        color: #fff;
      }
    }
  }
  i {
    font-size: 1.875rem;
    cursor: pointer;
  }
  span {
    position: absolute;
    top: -0.3125rem;
    right: -0.3125rem;
    font-size: 10px;
    color: #fff;
    width: 0.9375rem;
    height: 0.9375rem;
    flex: 0 0 0.9375rem;
    line-height: normal;
    border-radius: 50%;
    line-height: 0.9375rem;
    background-color: #54dd42;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    li {
      display: flex;
      position: relative;
      padding: 0.3125rem;
      button {
        padding: 0;
      }
    }
  }
}
.menu-icon {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
.action__list .action__item .action__auth {
  font-size: 1.0625rem;
  letter-spacing: 0.09em;
  line-height: 1.2;
  position: relative;
  transition: all 0.6s ease 0s;
  color: #fff;
  padding: 0.3125rem 0.9375rem;
  min-height: 2.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4375rem;
  border: 0.0625rem solid #005f5e;
  &:hover {
    color: #0cd0c9;
    background-color: #005f5e;
    transition: all 0.3s ease 0s;
  }
}
.user__logo {
  display: flex;
  width: 45px;
  height: 45px;
  flex: 0 0 45px;
  background-color: transparent;
  border: 2px solid red;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  small {
    font-size: 18px;
    color: #fff;
  }
}
