.sidenav {
  display: flex;
  height: 100%;
}
mat-drawer {
  width: 15.625rem;
  background-color: rgb(29, 30, 31);
  padding: 0.625rem;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
}
.mat-drawer-side {
  box-shadow: none;
  border-right-color: #141314;
  border-right-width: 1px;
  border-right-style: solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
mat-drawer-container {
  display: flex;
  flex: 1 1 auto;
}
mat-drawer-content {
  background-color: rgb(29, 30, 31);
  flex: 1 1 auto;
  overflow: auto;
  height: 100vh;
}
.wrapper {
}
.main-content {
  padding: 2.5rem 1.5625rem;
}
