<mat-tab-group>
  <mat-tab label="Улюблені">
    <div class="tabs__body">
      @if(movieList().favouriteList!.length>0){
      <app-movie-tabs-selected-list [data]="movieList().favouriteList || []" />
      }@else {
      <div>Список пустий</div>
      }
    </div>
  </mat-tab>

  <mat-tab label="Дивитись пізніше">
    <div class="tabs__body">
      @if(movieList().watchList!.length>0){
      <app-movie-tabs-selected-list [data]="movieList().watchList || []" />
      }
    </div>
  </mat-tab>

  <mat-tab label="Усі">
    <div class="tabs__body">
      @if(allSelectedMovie.length>0){
      <app-movie-tabs-selected-list
        [data]="allSelectedMovie"
        [removeAll]="true"
      />
      }
    </div></mat-tab
  >
</mat-tab-group>
