.movie-list__section {
  background-color: rgb(29, 30, 31);
  width: 100%;
  min-height: 100%;
  padding-top: 6.25rem;
  padding-bottom: 3.125rem;
}
.movie {
  // .movie__cards
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.25rem;
    color: #fff;
  }
}
