h2 {
  color: #fff;
}
.movie {
  // .movie__cards
  &__cards {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    color: #fff;
  }
}
