<div class="movie__card card-movie">
  <div class="card-movie__average">{{ data.vote_average }}</div>
  <div class="card-movie__image">
    <img [src]="data.backdrop_path" [alt]="data.title" />
    <i class="bx bx-play"></i>
    <i
      [ngClass]="isFavourite ? 'selected' : 'not-selected'"
      class="bx bx-heart"
      (click)="addFavourite()"
    ></i>
    <i
      [ngClass]="isWatchList ? 'selected' : 'not-selected'"
      class="bx bx-bookmark"
      (click)="addWatchList()"
    ></i>
  </div>
  <div class="card-movie__item">
    <a class="card-movie__title">{{ data.title | titleCaseWords }}</a>
    <div class="card-movie__info info-movie">
      <span class="info-movie__release-date">{{ data.release_year }}</span>
      @for(genre of data.genres; track genre; let idx = $index){ @if(idx < 3){
      <span class="info-movie__genres">{{ genre | shorten }}</span>
      } }
    </div>
  </div>
</div>
