<mat-card>
  <div class="card-movie__average">{{ data.vote_average | roundRating }}</div>
  <div class="card-movie__image">
    <img mat-card-image [src]="path + data.poster_path" [alt]="data.title" />
    <button
      mat-icon-button
      (click)="addMovie(data.id, 'favorite')"
      class="favorite"
    >
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="addMovie(data.id, 'watchlist')"
      class="watch-list"
    >
      <mat-icon>bookmark_border</mat-icon>
    </button>
    <button
      mat-icon-button
      class="play"
      [routerLink]="['/movie-details/', data.id]"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>
  <mat-card-content>
    <a class="card-movie__title" [routerLink]="['/movie-details/', data.id]">{{
      data.title | titleCaseWords
    }}</a>
  </mat-card-content>
</mat-card>
