<mat-card>
  <div class="card-movie__average">{{ data.vote_average }}</div>
  <div class="card-movie__image">
    <img mat-card-image [src]="data.backdrop_path" [alt]="data.title" />
    <button
      mat-icon-button
      (click)="addMovie('favouriteList')"
      [ngClass]="isFavourite() ? 'selected' : 'not-selected'"
      class="favorite"
    >
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button
      mat-icon-button
      [ngClass]="isWatchList() ? 'selected' : 'not-selected'"
      (click)="addMovie('watchList')"
      class="watch-list"
    >
      <mat-icon>bookmark_border</mat-icon>
    </button>
    <button
      mat-icon-button
      class="play"
      [routerLink]="['/movie-details/', data.id]"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>
  <mat-card-content>
    <a class="card-movie__title" [routerLink]="['/movie-details/', data.id]">{{
      data.title | titleCaseWords
    }}</a>
    <div class="card-movie__info info-movie">
      <span class="info-movie__release-date">{{ data.release_year }}</span>
      @for(genre of data.genres; track genre; let idx = $index){ @if(idx < 3){
      <span class="info-movie__genres">{{ genre | shorten }}</span>
      } }
    </div>
  </mat-card-content>
</mat-card>
