$white: #fff;
$black: #191a1b;
$basic-black: #1d1e1f;
$cyan: #00c5a8;
$orange: #723600;
$red: #ff0000;
$dark-crimson: #da21304d;
$red-hover: #da2130;
$hover: #f3f3f4;

:root {
  --text-color: #($basic-black);
  --white: #($white);
  --black: #($black);
  --cyan: #($cyan);
  --orange: #($orange);
  --red: #($red);
  --dark-crimson: #($$dark-crimson);
  --hover-red-color: #($red-hover);
  --hover-color: #($hover);
  --mdc-list-list-item-label-text-color: #($white);
  --mdc-list-list-item-hover-state-layer-color: #($dark-crimson);
  --mdc-list-list-item-focus-label-text-color: #($hover);
  --mdc-filled-text-field-container-color: #fff;
  --mat-badge-background-color: #da2130;
}
// .mat-mdc-tab-group,
// .mat-mdc-tab-nav-bar {
//   --mat-tab-header-inactive-label-text-color: #fff !important;
//   --mat-tab-header-active-label-text-color: #da2130 !important;
//   --mat-tab-header-active-focus-label-text-color: #da2130 !important;
//   --mat-tab-header-active-ripple-color: #fd1414 !important;
//   --mat-tab-header-inactive-hover-label-text-color: #fff !important;
//   --mat-tab-header-active-hover-label-text-color: #da2130 !important;
// }
// .mat-mdc-tab-ripple {
//   border-radius: 10px !important;
// }
// .mat-mdc-tab-label-container {
//   flex-grow: 0 !important;
// }
// .mdc-tab-indicator .mdc-tab-indicator__content {
//   display: none !important;
// }
// .mat-mdc-tab {
//   display: inline-flex;
//   min-height: 42px !important;
//   padding: 2px 25px;
//   align-items: center;
//   justify-content: center;
//   border-radius: 10px !important;
//   background-color: transparent !important;
//   border: 1px solid #ff515a !important;
//   transition: 0.3s;
//   letter-spacing: 0.1em;
//   color: #fff;
// }
// .mat-mdc-tab-labels {
//   gap: 30px !important;
// }
