/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css?family=Roboto:regular@display=swap");
// @import url("https://fonts.googleapis.com/css?family=Griffy:regular@display=swap");
body{
}
[class*="__container"]{
    max-width: 68.75rem;
    margin: 0 auto;
    padding: .3125rem .9375rem;
    box-sizing: border-box; 
}